.dialogs {
    display: grid;
    grid-template-columns: 1fr 3fr;

}

.dialogsItems {
    padding: 10px;
    color: white;

}
.dialogsItems .active {
    color: gold;
}
.dialogsItems a {
   text-decoration: none;
    color: saddlebrown;
}

.messages {
    padding: 10px;
}

.message {
    padding: 10px;
    color: red;
}